<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>

<div class="blade-content">
    <div class="blade-inner">
        <form name="formScope" class="form" novalidate>
            <div class="inner-block" ng-init="setForm(formScope)">

                <div class="form-group" ng-class="{'error': formScope.name.$invalid && formScope.name.$dirty}">
                    <label class="form-label required">{{ 'punchout.blades.integration-detail.labels.name' | translate }}</label>
                    <div class="form-input">
                        <input name="name"
                               ng-model="blade.currentEntity.name"
                               placeholder="{{ 'punchout.blades.integration-detail.placeholders.name' | translate }}"
                               required
                               focus-on>
                    </div>
                    <div class="form-error" ng-show="formScope.name.$error.required && formScope.name.$dirty">
                        {{ 'punchout.blades.integration-detail.validation.name-required' | translate }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">{{ 'punchout.blades.integration-detail.labels.isActive' | translate }}</label>
                    <div class="form-input">
                        <label class="form-label __switch">
                            <input type="checkbox" ng-model="blade.currentEntity.isActive">
                            <span class="switch"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-class="{'error': formScope.storeId.$invalid && formScope.storeId.$dirty}">
                    <label class="form-label required">{{ 'punchout.blades.integration-detail.labels.storeId' | translate }}</label>
                    <va-store-selector name="storeId" ng-model="blade.currentEntity.storeId" required></va-store-selector>
                    <div class="form-error" ng-show="formScope.storeId.$error.required && formScope.storeId.$dirty">
                        {{ 'punchout.blades.integration-detail.validation.storeId-required' | translate }}
                    </div>
                </div>

                <div class="form-group" ng-class="{'error': formScope.credentialDomain.$invalid && formScope.credentialDomain.$dirty}">
                    <label class="form-label required">{{ 'punchout.blades.integration-detail.labels.credentialDomain' | translate }}</label>
                    <div class="form-input">
                        <input name="credentialDomain"
                               ng-model="blade.currentEntity.credentialDomain"
                               placeholder="{{ 'punchout.blades.integration-detail.placeholders.credentialDomain' | translate }}"
                               required>
                    </div>
                    <div class="form-error" ng-show="formScope.credentialDomain.$error.required && formScope.credentialDomain.$dirty">
                        {{ 'punchout.blades.integration-detail.validation.credentialDomain-required' | translate }}
                    </div>
                </div>

                <div class="form-group" ng-class="{'error': formScope.senderIdentity.$invalid && formScope.senderIdentity.$dirty}">
                    <label class="form-label required">{{ 'punchout.blades.integration-detail.labels.senderIdentity' | translate }}</label>
                    <div class="form-input">
                        <input name="senderIdentity"
                               ng-model="blade.currentEntity.senderIdentity"
                               placeholder="{{ 'punchout.blades.integration-detail.placeholders.senderIdentity' | translate }}"
                               required>
                    </div>
                    <div class="form-error" ng-show="formScope.senderIdentity.$error.required && formScope.senderIdentity.$dirty">
                        {{ 'punchout.blades.integration-detail.validation.senderIdentity-required' | translate }}
                    </div>
                </div>

                <div class="form-group" ng-if="blade.isNew">
                    <label class="form-label">{{ 'punchout.blades.integration-detail.labels.sharedSecret' | translate }}</label>
                    <div class="form-input">
                        <input id="sharedSecret" name="sharedSecret" ng-model="blade.currentEntity.sharedSecret" readonly>
                        <button class="btn __ico" type="button" ng-click="copyToClipboard('sharedSecret')" title="{{ 'platform.commands.copy' | translate }}">
                            <i class="btn-ico fas fa-paste"></i>
                        </button>
                    </div>
                    <div class="form-error">{{ 'punchout.blades.integration-detail.labels.sharedSecret-warning' | translate }}</div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            {{ 'punchout.blades.integration-detail.labels.allowedReturnUrls' | translate }}
                            <a href="" ng-click="editAllowedReturnUrls()" class="form-edit">
                                <i class="form-ico fa fa-pencil"></i>
                            </a>
                        </legend>
                        <div ng-if="blade.currentEntity.allowedReturnUrls.length > 0" class="table-wrapper">
                            <table class="table __indexed">
                                <thead>
                                    <tr>
                                        <th class="table-col">{{ 'punchout.blades.integration-detail.labels.url' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-item" ng-repeat="uri in blade.currentEntity.allowedReturnUrls track by $index">
                                        <td class="table-col">
                                            <div class="form-input">
                                                <input ng-model="uri" type="text" readonly />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>

            </div>
        </form>
    </div>
</div>
