<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>

<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">

            <div class="form-group" ng-if="blade.currentEntities.length">
                <div class="form-input">
                    <input ng-model="filter.keyword" placeholder="{{ 'punchout.blades.organization-integrations.placeholders.filter' | translate }}">
                </div>
            </div>

            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <table class="table __indexed">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.allSelected" ng-change="toggleAll()" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.name' | translate }}</th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.storeId' | translate }}</th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.senderIdentity' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item"
                            ng-repeat="integration in blade.currentEntities | filter: { $: filter.keyword }"
                            ng-click="integration.$selected = !integration.$selected">
                            <td class="table-col">
                                <label class="form-control __checkbox" ng-click="$event.stopPropagation()">
                                    <input type="checkbox" ng-model="integration.$selected" />
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col">
                                {{integration.name}}
                                <i class="fa fa-ban" ng-if="!integration.isActive" title="{{ 'punchout.blades.organization-integrations.labels.inactive' | translate }}"></i>
                            </td>
                            <td class="table-col">{{integration.storeId}}</td>
                            <td class="table-col">{{integration.senderIdentity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="no-item" ng-if="!blade.isLoading && !blade.currentEntities.length">
                {{ 'punchout.blades.organization-integrations.labels.no-integrations' | translate }}
            </div>

        </div>
    </div>
</div>
