<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>

<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper" ng-if="blade.currentEntities.length">
                <table class="table __indexed">
                    <thead>
                        <tr>
                            <th class="table-col">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="blade.allSelected" ng-change="toggleAll()" />
                                    <span class="check"></span>
                                </label>
                            </th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.name' | translate }}</th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.storeId' | translate }}</th>
                            <th class="table-col">{{ 'punchout.blades.organization-integrations.labels.senderIdentity' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-item"
                            ng-repeat="integration in blade.currentEntities | filter: { $: filter.keyword }"
                            ng-class="{'__disabled': integration.$disabled}"
                            ng-click="toggle(integration)">
                            <td class="table-col">
                                <label class="form-control __checkbox" ng-click="$event.stopPropagation()">
                                    <input type="checkbox" ng-model="integration.$selected" ng-disabled="integration.$disabled" />
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td class="table-col">
                                {{integration.name}}
                                <i class="fa fa-ban" ng-if="!integration.isActive" title="{{ 'punchout.blades.organization-integrations.labels.inactive' | translate }}"></i>
                                <span class="muted" ng-if="integration.$disabled">
                                    {{ 'punchout.blades.organization-integrations.labels.assigned-elsewhere' | translate }}
                                </span>
                            </td>
                            <td class="table-col">{{integration.storeId}}</td>
                            <td class="table-col">{{integration.senderIdentity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="no-item" ng-if="!blade.isLoading && !blade.currentEntities.length">
                {{ 'punchout.blades.organization-integrations.labels.no-integrations' | translate }}
            </div>

        </div>
    </div>
</div>
